* {
  margin: 0;
  font-family: DFKai-SB;
  font-size: 1.5vw;
  user-select: none;
}

body {
  background: hsl(187, 94%, 54%);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.next {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 14vw;
  height: 14vw;
  background: url(others/arrow_down.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
  transform: translateX(-50%);
  z-index: 100;
  animation: sparkle 1.4s linear infinite;
}

.next::before {
  content: "下一步";
  position: absolute;
  top: 25%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2rem;
}

.re {
  top: 0;
  transform: translateX(-50%) rotate(180deg);
}

.re::before {
  content: "重新輸入";
  position: absolute;
  top: 25%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%) rotate(180deg);
  text-align: center;
  font-size: 1.2rem;
}

@keyframes sparkle {
  0%, 100% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.2;
  }
}

.outline {
  position: fixed;
  top: 50%;
  left: 50%;
  width: min(94vw, calc(100vw - 6vh));
  height: min(94vh, calc(100vh - 6vw));
  border: 1px solid black;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  height: 500%;
}

.container.step1 {
  animation: step1 1s ease-in-out forwards;
}

@keyframes step1 {
  from {
    top: -400%;
  }
  to {
    top: 0;
  }
}

.container.step2 {
  animation: step2 1s ease-in-out forwards;
}

@keyframes step2 {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

.container.step3 {
  animation: step3 1s ease-in-out forwards;
}

@keyframes step3 {
  from {
    top: -100%;
  }
  to {
    top: -200%;
  }
}

.container.step4 {
  animation: step4 1s ease-in-out forwards;
}

@keyframes step4 {
  from {
    top: -200%;
  }
  to {
    top: -300%;
  }
}

.container.step5 {
  animation: step5 1s ease-in-out forwards;
}

@keyframes step5 {
  from {
    top: -300%;
  }
  to {
    top: -400%;
  }
}

.ranger-data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
}

.ranger-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: white;
}

.ranger-figure {
  position: absolute;
  top: 50%;
  left: 50%;
  width: min(50vw, 36vh);
  transform: translate(-50%, -50%);
  opacity: 0.3;
}

.data {
  display: flex;
  justify-content: flex-end;
  align-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.data > h1 {
  width: 25%;
  text-align: center;
}

.data > input {
  margin-right: 5%;
  width: 60%;
}

.weapon {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 20%;
  overflow: hidden;
}

.shield {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 20%;
  overflow: hidden;
}

.accessory {
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  height: 20%;
  overflow: hidden;
}

.shade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2%;
  background: hsl(187, 94%, 54%);
  box-shadow: 0 0 2rem 2rem hsl(187, 94%, 54%);
  z-index: 100;
}

.wp-list, .sh-list, .ac-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 98%;
  overflow-y: scroll;
}

.wp-list::-webkit-scrollbar, .sh-list::-webkit-scrollbar, .ac-list::-webkit-scrollbar {
  background: transparent;
}

.wp-list > h2, .sh-list > h2, .ac-list > h2 {
  width: 100%;
  height: 2.5rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.wp-list > img, .sh-list > img, .ac-list> img {
  margin: 0.8%;
  width: 10%;
  border: 3px solid black;
  border-radius: 30%;
}

.wp-list > img.choose, .sh-list > img.choose, .ac-list > img.choose {
  background:hsl(66, 100%, 53%)
}

.input-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.input-col > h4 {
  height: 4rem;
  width: 100%;
  font-size: 3.5rem;
  text-align: center;
}

.input-col > h3 {
  height: 2rem;
  width: 35%;
  text-align: center;
}

.input-col > input {
  width: 50%;
}