* {
  margin: 0;
  font-family: DFKai-SB;
  font-size: min(1.5vw, calc(1.5vh * 1.78));
  user-select: none;
}

:root {
  --height: min(95vh, calc(95vw / 1.78));
}

body {
  background: hsl(187, 94%, 54%);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.next, .last {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 14vw;
  height: 14vw;
  background: url(others/arrow_down.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
  transform: translateX(-50%);
  z-index: 100;
  animation: sparkle 1.4s linear infinite;
}

.last {
  top: 0;
  transform: translateX(-50%) rotate(180deg);
}

.next::before, .last::before {
  content: "下一步";
  position: absolute;
  top: 25%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2rem;
}

.last::before {
  content: "上一步";
  transform: translate(-50%, -50%) rotate(180deg);
}

.re {
  transform: translateX(-50%) rotate(180deg);
}

.re::before {
  content: "重新輸入";
  position: absolute;
  top: 75%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%) rotate(180deg); 
  text-align: center;
  font-size: 1.2rem;
}

.first {
  display: none;
}

@keyframes sparkle {
  0%, 100% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.2;
  }
}

.outline {
  position: fixed;
  top: 50%;
  left: 50%;
  width: min(95vw, calc(95vh * 1.78));
  height: min(95vh, calc(95vw / 1.78));
  border: 1px solid black;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  height: 500%;
}

.container.step1.down {
  animation: step1 1s ease-in-out forwards;
}

@keyframes step1 {
  from {
    top: -400%;
  }
  to {
    top: 0;
  }
}

.container.step2.down {
  animation: step2 1s ease-in-out forwards;
}

.container.step1.up {
  animation: step2r 1s ease-in-out forwards;
}

@keyframes step2 {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

@keyframes step2r {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

.container.step3.down {
  animation: step3 1s ease-in-out forwards;
}

.container.step2.up {
  animation: step3r 1s ease-in-out forwards;
}

@keyframes step3 {
  from {
    top: -100%;
  }
  to {
    top: -200%;
  }
}

@keyframes step3r {
  from {
    top: -200%;
  }
  to {
    top: -100%;
  }
}

.container.step4.down {
  animation: step4 1s ease-in-out forwards;
}

.container.step3.up {
  animation: step4r 1s ease-in-out forwards;
}

@keyframes step4 {
  from {
    top: -200%;
  }
  to {
    top: -300%;
  }
}

@keyframes step4r {
  from {
    top: -300%;
  }
  to {
    top: -200%;
  }
}

.container.step5.down {
  animation: step5 1s ease-in-out forwards;
}

.container.step4.up {
  animation: step5r 1s ease-in-out forwards;
}

@keyframes step5 {
  from {
    top: -300%;
  }
  to {
    top: -400%;
  }
}

@keyframes step5r {
  from {
    top: -400%;
  }
  to {
    top: -300%;
  }
}

.ranger-data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
}

.ranger-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 80%;
  background: white;
}

.ranger-figure {
  position: absolute;
  top: 50%;
  left: 50%;
  width: min(50%, 36vh);
  transform: translate(-50%, -50%);
  opacity: 0.3;
}

.rangersdefault, .ranger-list > .rangerchoosen {
  margin: 0.8%;
  width: 6vw;
  height: 6vw;
  border: 3px solid black;
  border-radius: 30%;
  font-size: 1.8rem;
  text-align: center;
  line-height: 6vw;
  background-repeat: no-repeat;
  background-size: contain;
}

.ranger-list > div.choose {
  background-color: hsl(66, 100%, 53%);
}

.lvl-change {
  position: absolute;
  top: 89%;
  left: 25%;
  margin: 0.8%;
  width: 24%;
  height: 6vw;
  border: 3px solid black;
  border-radius: 3vw;
  transform: translate(-50%, -50%);
  font-size: 2.4rem;
  text-align: center;
  line-height: 6vw;
  background-color: hsl(50, 100%, 56%);
}

.data {
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  overflow-y: scroll;
}

.data::-webkit-scrollbar {
  background: transparent;
  width: 0;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vw;
  background: red;
  font-size: 4rem;
  text-align: center;
  line-height: 10vw;
}

.data > h1 {
  margin-top: 2vh;
  width: 25%;
  text-align: center;
}

.data > input {
  margin-top: 2vh;
  margin-right: 5%;
  width: 60%;
}

.weapon {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 20%;
  overflow: hidden;
}

.shield {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 20%;
  overflow: hidden;
}

.accessory {
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  height: 20%;
  overflow: hidden;
}

.shade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2%;
  background: hsl(187, 94%, 54%);
  box-shadow: 0 0 2rem 2rem hsl(187, 94%, 54%);
  z-index: 100;
}

.wp-list, .sh-list, .ac-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 98%;
  overflow-y: scroll;
}

.wp-list::-webkit-scrollbar, .sh-list::-webkit-scrollbar, .ac-list::-webkit-scrollbar, .ranger-list::-webkit-scrollbar {
  background: transparent;
}

.wp-list > h2, .sh-list > h2, .ac-list > h2 {
  width: 100%;
  height: 2.5rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.wp-list > img, .sh-list > img, .ac-list > img {
  margin: 0.8%;
  width: 10%;
  border: 3px solid black;
  border-radius: 30%;
}

.wp-list > img.choose, .sh-list > img.choose, .ac-list > img.choose {
  background:hsl(66, 100%, 53%)
}

.input-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.input-col > h4 {
  height: 4rem;
  width: 100%;
  font-size: 3.5rem;
  text-align: center;
}

.input-col > h3 {
  height: 2rem;
  width: 35%;
  text-align: center;
}

.input-col > input {
  width: 50%;
}

.cal {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: 20%;
  overflow: hidden;
}

.final-ranger {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height) * 0.4);
  height: calc(var(--height) * 0.4);
  background-color: #fff;
  font-size: 4rem;
  text-align: center;
  line-height: calc(var(--height) * 0.4);
  background-repeat: no-repeat;
  background-size: contain;
}

.main-cal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  right: 0;
  width: calc(var(--height) * 1.38);
  height: calc(var(--height) * 0.40);
}

.main-cal div.mimg {
  display: flex;
  justify-content: center;
  width: calc(var(--height) * 1.38 * 0.1);
  height: calc(var(--height) * 0.4 * 0.2);
}

.main-cal div.mimg img {
  height: 100%;
}

.main-cal div.mc {
  width: calc(var(--height) * 1.38 * 0.38);
  height: calc(var(--height) * 0.4 * 0.4);
  background-color: hsl(55, 85%, 80%);
  border-radius: calc(var(--height) * 0.03);
  font-size: 3rem;
  text-align: center;
  line-height: calc(var(--height) * 0.4 * 0.4);
  box-shadow: inset calc(var(--height) * 1.38 * 0.4 * -0.04) calc(var(--height) * 1.38 * 0.4 * -0.05) calc(var(--height) * 1.38 * 0.4 * 0.08) calc(var(--height) * 1.38 * 0.4 * -0.05) #000;
}

.data-cal {
  position: absolute;
  top: calc(var(--height) * 0.4);
  left: 0;
  width: 100%;
  height: calc(var(--height) * 0.6);
  border-top-width: inset 2px;
  border-top-style: double;
  border-top-color: #222;
}

.data-list {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  list-style-type: none;
}

.data-list li {
  position: relative;
  margin-top: 0.25%;
  margin-bottom: 0.25%;
  margin-left: 1%;
  margin-right: 1%;
  width: 18%;
  height: 15%;
}

.data-list h5 {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 40%;
  height: 100%;
  font-size: 0.85rem;
  text-align: center;
  transform: translate(-50%, -50%);
  line-height: calc(var(--height) * 0.6 * 0.15);
}

.data-list li:nth-of-type(1) h5,
.data-list li:nth-of-type(2) h5,
.data-list li:nth-of-type(4) h5,
.data-list li:nth-of-type(5) h5,
.data-list li:nth-of-type(15) h5,
.data-list li:nth-of-type(16) h5,
.data-list li:nth-of-type(17) h5,
.data-list li:nth-of-type(18) h5,
.data-list li:nth-of-type(19) h5,
.data-list li:nth-of-type(25) h5,
.data-list li:nth-of-type(26) h5,
.data-list li:nth-of-type(28) h5,
.data-list li:nth-of-type(29) h5 {
  line-height: calc(var(--height) * 0.6 * 0.15 * 0.5);
}

.data-list span {
  position: absolute;
  top: 50%;
  right: 0;
  width: 60%;
  height: 60%;
  transform: translateY(-50%);
  background-color: white;
  border-radius: calc(var(--height) * 0.6 * 0.02);
  text-align: center;
  line-height: 200%;
}

.extra-spacing {
  width: 100%;
  height: 15%;
  background: transparent;
}